# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# VS Code
.vscode/
tempcoderunnerfile.py

# Other
.DS_Store

# Personal Folders
Project Ideas/

# Windows
desktop.ini
Thumbs.db

# Obsidian
.obsidian/
Base.base