# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# VS Code
.vscode/
tempcoderunnerfile.py
tempCodeRunnerFile.md

# Other
.DS_Store

# Personal Folders
Project Ideas/

# Windows
desktop.ini
Thumbs.db

# Obsidian
.obsidian/
Base.base

# API credentials
credentials-sheets.json
token-sheets.pickle
token-drive.pickle